.homebox{
  position: relative;
  display: block;
  width: 75%;
  color: #fff;
  background-color: #334D8A;

  & > p{
    padding: 1rem 15px 0px 15px;
  }
  & > div.row{
    width: calc(100% - 60px);
    height: 300px;
    background-color: #c4c4c4;
    display: flex;
    padding: 0px 30px 0px 30px;
    align-items: center;
    justify-content: space-between;    

    & > div.boxes{
      color: #000;
      width: 30%;
      height: 87%;
      border: 1px solid #fff;
      border-radius: 10px;
      background-color: #fff;

      & > hr{
        width: 85%;
      }

      & > p{
        color: #000;
        margin-left: 8%;
        font-weight: 600;
      }

      & > ul{

        padding: 0px 0px 0px 9%;

        & > li{
          list-style: none;
        }
      }
    }
  }
}
