.Net{

  & > h2{
    color: #fc9406;
  }

  & > div{
    font-size: 18pt;
    color: #fc9406;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  & > div.name{
    margin-top: 30px;
    font-size: 18pt;
    font-weight: bold;
  }

}

div.sadf{
  margin-left: 50px
}
